<section class="section-nosotros">
    <div class="card_section-nosotros padding-text-card" data-aos="fade-right" data-aos-duration="1800">
        <h2>
            Especialistas Gestar
        </h2>
        <p>
            Nuestros especialistas son <span>expertos en fertilidad</span>, 
            ginecólogos, biólogos, andrólogos y embriólogos 
            altamente capacitados para vivir esta experincia contigo.
        </p>
        <button class="button-custom button-morado">Ver especialistas</button>
    </div>
    <div class="card_section-nosotros">
        <img src="assets/img/var/Especialistas_GestarPeru.png" alt="Especialistas Gestar">
    </div>
    <div class="card_section-nosotros">
        <img src="assets/img/var/SedesClínica_GestarPeru.png" alt="Sedes Gestar">
    </div>
    <div class="card_section-nosotros padding-text-card" data-aos="fade-left" data-aos-duration="1800">  
        <h2>
            Encuentra <span>tu sede</span>
        </h2>
        <p>
            Conoce nuestra sedes en <span>Piuram Chiclayo y Trujillo</span>.
            Estamos comprometidos en llegar a más ciudades cerca a ti.
        </p>
        <button class="button-custom button-morado">Ver sedes</button>
    </div>
</section>