<section class="section-testimonios">

    <!-- Testimonios -->
    <div class="testimonios-slider_testimonios">

        <div class="card-slider_testimonios" data-aos="flip-down" data-aos-duration="1800">
            <img src="./assets/img/var/Medicos_GestarPeru.png" alt="">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis corporis 
                consequuntur totam autem nisi. At assumenda minima ipsam porro. Doloribus.
            </p>
            <h6>
                Sede de atención: Chiclayo
            </h6>
        </div>

        <div class="button_testimonios">
            <button class="button-custom button-celeste">
                Ver testimonios
            </button>
        </div>

    </div>


    <!-- Títulos y descripción -->
    <div class="titulos_testimonios">
        <div class="up-imagen_testimonios">
            <h2>
                Testimonios de lucha y perseverancia
            </h2>

            <div class="contadores_testimonios" data-aos="fade-down" data-aos-duration="1800">
                <div class="contador_testimonios">
                    <h4><span>+ 8</span> años</h4>
                    <p>cumpliendo sueños</p>
                </div>
                <div class="contador_testimonios">
                    <h4><span>+ 80%</span> éxito</h4>
                    <p>en todos nuestros casos</p>
                </div>
            </div>
        </div>
        <div class="down-imagen_testimonios">
            <h2 data-aos="fade-left" data-aos-duration="2000">¿Qué dudas frecuentes presentas?</h2>
        </div>
    </div>

</section>
