<section class="section-tratamientos">
    <h3 class="title_section-tratamientos">
        Más de <span>8 años</span> siendo pioneros en Fertilidad en el norte del Perú
    </h3>

    <div class="container-cards_section-tratamientos" data-aos="flip-up" data-aos-duration="1500">

        <div class="card_section-tratamientos">
            <div class="title-card_section-tratamientos">  
                Diágnostico
            </div>
        </div>

        <div class="card_section-tratamientos">
            <div class="title-card_section-tratamientos">  
                Laboratorio Gestar Perú
            </div>
        </div>

        <div class="card_section-tratamientos">
            <div class="title-card_section-tratamientos">  
                Reproducción Asistida
            </div>
        </div>

        <div class="card_section-tratamientos">
            <div class="title-card_section-tratamientos">  
                Criopreservación
            </div>
        </div>

    </div>

    <div class="botones_section-tratamientos">
        <button class="button-custom button-morado">
            Ver tratamientos y servicios
        </button>
    </div>

</section>
