<section class="section-presentacion">
    <div class="container_presentacion">
        <div class="descripcion_presentacion">
            <div class="title_presentacion">
                <h2 data-aos="fade-down" data-aos-duration="1800">Hacemos realidad tu sueño de</h2>
                <h3 data-aos="fade-down" data-aos-duration="1800">ser mamá</h3>
            </div>
            <div class="card_presentacion" data-aos="flip-up" data-aos-duration="2000">
                <div class="content_presentacion">
                    <button>X</button>
                    <img src="../assets/img/icons/WhatsApp_GestarPeru.png" alt="Whatsapp Gestar">
                    <p>Resuelve tus dudas con nostros, por Whatsapp</p>
                </div>
            </div>
        </div>
    </div>
</section>
