<footer>
    <div class="row d-flex justify-content-center">

        <div class="col-6 col-md-2 footer-secciones">
            <h3>
                Secciones
            </h3>
            <ul>
                <li>Inicio</li>
                <li>Tratamientos</li>
                <li>Espcialistas</li>
                <li>Testimonios</li>
                <li>Conócenos</li>
            </ul>
        </div>

        <div class="col-6 col-md-2 footer-contacto">
            <h3>
                Contáctanos
            </h3>
            <ul>
                <li>  
                    <span>PIURA</span>: (073) 600786 <br>
                    +51 953 186 919
                </li>
                <li>  
                    <span>CHICLAYO</span>: (074) 602788 <br>
                    +51 943 437 461
                </li>
                <li>  
                    <span>TRUJILLO</span>: <br>
                    +51 967 750 463
                </li>
            </ul>
        </div>

        <div class="col-md-3 social-footer">
            <h3>
                Asesoría e informes
            </h3>
            <h5>GESTAR PERÚ: +51 964 137 402</h5>
            <button class="button-custom button-celeste">
                Sí, quiero información
            </button>
            <h4>Redes Sociales</h4>
            <ul>
                <li>
                    <img src="assets/img/icons/Facebook_GestarPeru.png" alt="Facebook Gestar Perú">
                </li>
                <li>
                    <img src="assets/img/icons/Instagram_GestarPeru.png" alt="Instagram Gestar Perú">
                </li>
                <li>
                    <img src="assets/img/icons/TikTok_GestarPeru.png" alt="Tiktok Gestar Perú">
                </li>
                <li>
                    <img src="assets/img/icons/Youtube_GestarPeru.png" alt="Youtube Gestar Perú">
                </li>
                <li>
                    <button class="button-custom button-celeste">
                        Blog
                    </button>
                </li>
            </ul>
        </div>

        <div class="col-md-3 logo-footer">
            <img src="assets/img/logo/LogoBlanco_GestarPeru.png" alt="Logo Gestar Perú">
            <button class="button-custom button-morado">
                PIDE TU CITA
            </button>
        </div>
    </div>

    <!-- Derechos reservado -->
    <div class="row bg-footer">
        <h2>
            Centro de Fertilidad Gestar 2022
        </h2>
    </div>


</footer>
